body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#logo{
    width: 30%;
}

#logo-social{
  width: 50%;
  float: left;
  top:25%;
  margin-top:15%;
  
}
#logo-social-left{
  width: 50%;
  margin-top:15%;
}
